html{
    font-family: 'Pretendard', sans-serif;
    font-size: var(--basic-font-pc);
    font-weight: var(--fw-re);
}
h1{
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
}
h2{
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
}
h3{
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}
h4{
    font-size: var(--fs-h4);
    font-weight: var(--fw-bold);
}
p{
    line-height: 140%;
}
.bd2{
    font-size: var(--fs-bd2);
}
.det{
    font-size: var(--fs-det);
}
.fwr{
    font-weight: var(--fw-reg);
}
.fwm{
    font-weight: var(--fw-med);
}
.fwb{
    font-weight: var(--fw-bold);
}
.common-frame{
    width: 1440px;
    margin: 0 auto;
}
.mo{
    display: none;
}
.tab{
    display: none;
}
.pc{
    display: block;
}
label.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
button{
    all: unset; /* 모든 기본 스타일 초기화 */
    cursor: pointer; /* 마우스 올렸을 때 손가락 모양 유지 */
}
.sns img{
    height: 1.2rem;
}


