main{
    padding-top: 280px;
    margin-bottom: var(--space-foot);
}
.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    z-index: 2000000;
}
.modal.on{
    opacity: 0.5;
    pointer-events: auto;
}
.popup{
    position: fixed;
    width: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    text-align: center;
    padding: var(--space-large);
    display: none;
    z-index: 2000000;
}
.popup.on{
    display: block;
}
.content-popup{
    margin-bottom: var(--space-large);
}
.content-popup img{
    margin-bottom: var(--space-normal);
}
.content-popup>p:first-of-type{
    margin-bottom: var(--space-small);
}
.popup-controler a{
    padding: var(--space-small) var(--space-large);
    background-color: var(--main-color);
    color: #fff;
}
.info-box .common-frame{
    display: flex;
    gap: var(--space-2x-large);
}
.thumb{
    border: 1px solid #000;
    flex: 6;
}
.thumb figure{
    height: 710px;
}
.thumb figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.swiper {
    --swiper-theme-color: #808080;
}
.pro-info{
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cateInfo{
    display: flex;
    gap: var(--space-normal);
    align-items: center;
    margin-bottom: var(--space-normal);
}
.infoTitle{
    margin-bottom: .75rem;
}
.infoTitle>h5{
    font-size: 40px;
    font-weight: var(--fw-bold);
    margin-bottom: var(--space-small);
}
.rv-group{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}
.stars{
    display: flex;
    gap: .75rem;
}
.rv-group>span{
    text-decoration: underline;
}
.infoTable{
    margin-top: 2.25rem;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.infoTable dd{
    font-weight: var(--fw-bold);
    text-align: right;
}
.infoTable span.sale{
    color: #EF5C18;
    margin-right: .7rem;
}
.infoTable dd.lastP{
    font-size: var(--fs-h2);
    text-align: right;
}
.span-g{
    display: flex;
    cursor: pointer;
    justify-content: flex-end;
}
.span-g span{
    font-size: var(--fs-bd1);
    border: 1px solid #000;
    height: 24px;
    width: 24px;
    text-align: center;
}
.span-g span.minus{
    border-radius: .25rem 0 0 .25rem;
    background-color: #E4E4E4;
}
.span-g span.plus{
    border-radius: 0 .25rem .25rem 0;
    background-color: #E4E4E4;
}
.span-g span.number{
    width: 64px;
    border-radius: 0;
}
.btn-g{
    margin-top: var(--space-normal);
    display: grid;
    grid-template-columns: 48px 1fr 1fr;
    gap: var(--space-small);
    align-items: center;
}
.btn-g>li>a{
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}
.btn-g>li:nth-of-type(2){
    border: 1px solid #000;
    box-sizing: border-box;
}
.btn-g>li:nth-of-type(3){
    background-color: var(--main-color);
    color: #fff;
    box-sizing: border-box;
}
.ad-banner{
    height: 197px;
    margin-top: var(--space-3x-large);
}
.ad-banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.detail-box{
    margin-top: var(--space-3x-large);
}
.detail-box .common-frame{
    width: 860px;
}
.dt-tab{
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: sticky;
    top: 180px; 
    background: #fff;
    z-index: 100;
}
.dt-tab li{
    flex: 1;
    border-bottom: 1px solid #808080;
    padding: var(--space-small) 0;
    cursor: pointer;
    font-weight: var(--fw-bold);
}
.dt-content{
    display: none;
}
.dt-content.active{
    display: block;
}
.dt-content{
    margin-top: var(--space-large);
}
.dt-content:first-child{
    margin-top: 0;
}
.rv-head>h2{
    margin-bottom: var(--space-normal);
}
.rv-head-inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rv-star-g{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
    align-items: center;
}
.rv-star-g>span{
    font-size: var(--fs-det);
    color: #808080;
}
.rv-star-g .star-g{
    display: flex;
    gap: var(--space-small);
    align-items: center;
}
.rv-star-g .star-g>span{
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
}
.rv-co-g{
    flex: 4;
    display: flex;
    flex-direction: column;
    gap:var(--space-normal);
}
.rv-co-g li{
    display: flex;
    align-items: center;
    gap:var(--space-normal);
}
.rv-co-g li .label{
    background-color: #E5E5E5;
    padding: var(--space-small);
    width: 81px;
    text-align: center;
    font-weight: var(--fw-med);
}
.rv-co-g li .desc{
    font-weight: var(--fw-bold);
}
.rv-co-g li .line{
    flex: 1;
    height: 1px;
    background: #808080;
}
.rv-co-g li .value{
    font-weight: bold;
}
.option-g{
    display: flex;
    color: #808080;
    margin-top: var(--space-x-large);
    justify-content: flex-end;
}
.option-g span{
    cursor: pointer;
}
.option-g span:nth-of-type(1){
    padding-right: var(--space-small);
    border-right: 1px solid #808080;
}
.option-g span:nth-of-type(2){
    padding: 0 var(--space-small);
     border-right: 1px solid #808080;
}
.option-g span:nth-of-type(3){
    padding-left: var(--space-small);
    border-right: none;
}
.rv-list{
    margin-top: var(--space-normal);
    display: flex;
    flex-direction: column;
    gap: var(--space-normal);
}
.rv-list>li{
    padding: var(--space-normal) 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-normal);
    border-bottom: 1px solid #808080;
}
.rv-list>li:first-of-type{
    border-top: 1px solid #808080;
}
.rv-list>li>span{
    font-size: var(--fs-h4);
    margin-bottom: var(--space-small);
    display: inline-block;
}
.rv-list .star-box{
    display: flex;
    gap:var(--space-small);
}
.rv-list .star-box>span{
    color: #808080;
}
.rv-list .star-g{
    display: flex;
    gap: var(--space-x-small);
}
.rv-f{
    margin-top: var(--space-large);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.rv-f>span{
    color: #808080;
}
.btn-que{
    display: flex;
    gap: var(--space-normal);
    margin-bottom: var(--space-2x-large);
}
.btn-que li{
    flex: 1;
}
.btn-que li a{
    width: 100%;
    height: 48px;
    border: 1px solid #000;
    padding: var(--space-small);
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.que-list{
    display: flex;
    flex-direction: column;
    gap: var(--space-large);
}
.que-list li{
    border-bottom: 1px solid #808080;
    padding-bottom: var(--space-normal);
}
.que-list li>div{
    width: 250px;
    display: flex;
    gap: var(--space-small);
    align-items: center;
    margin-bottom: var(--space-normal);
}
.que-list li>div>span:first-of-type{
    font-size: var(--fs-h4);
    font-weight: var(--fw-bold);
}
.que-list li>div>span:last-of-type{
    font-size: var(--fs-bd2);
    color: #808080;
}