main{
    padding-top: 0;
}
.hero-banner{
    width:100%;
    height: 100vh;
}
.hero-banner .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main .hero-banner.swiper .swiper-pagination{
    display: flex;
    gap:.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: var(--space-large);
    z-index: 10;
    justify-content: center;
}
.hero-banner .swiper-pagination .swiper-pagination-bullet{
    background: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.08);
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
}
.hero-banner .swiper-pagination-bullet{
    opacity: 1;
}
.hero-banner .swiper-pagination>span.swiper-pagination-bullet-active{
    background: var(--main-color);
}
.sub-category{
    margin-top: var(--space-large);
    margin-bottom: var(--space-3x-large);
}
.sub-cate-list{
    font-weight: var(--fw-med);
    color: #9C9C9C;
    display: flex;
    justify-content: center;
    gap: var(--space-large);
}
.sub-cate-list li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-small);
}
.sub-cate-list li:hover a{
    color: var(--main-color);
}
.sub-cate-list figure{
    border: 1px solid var(--cb-color-0);
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.sub-cate-list li:hover figure{
    background-color: var(--cb-color-0);
}
.sub-cate-list figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all .5s ease 0s;
}
.sub-cate-list li:hover figure img{
    transform: scale(1.1);
}
.sub-cate-list figure svg{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all .5s ease 0s;
}
.brand-pilo{
    margin: var(--space-3x-large);
}
.brand-pilo .commom-frame{
    text-align: center;
}
.brand-pilo .commom-frame>h4{
    margin-bottom: var(--space-small);
}
.brand-pilo .commom-frame>h1{
    margin-bottom: var(--space-large);
    font-size: 46px;
}
.brand-pilo .commom-frame>h1>span{
    color: var(--main-color);
}
.brand-pilo .commom-frame>h1+p{
    margin-bottom: var(--space-normal);
}
.fade-up{
  opacity: 0;
  transform: translateY(-50px);
  transition: all 1s ease 0.2s;
}
.fade-up.active{
  opacity: 1;
  transform: translateY(0);
}

.sub-cate-list li:hover figure svg{
    transform: scale(1.1);
}
.sub-cate-list li:hover figure svg path{
    fill: var(--main-color);
}
.new-item{
    margin-bottom: var(--space-3x-large);
}
.new-item>h1{
    text-align: center;
    margin-bottom: var(--space-x-large);
    text-transform: uppercase;
}
.new-item .common-frame{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: var(--space-large);
    align-items: center;
    text-align: center;
}
.new-video{
    width: 100%;
}
.new-desc>h3{
    margin-bottom: var(--space-normal);
}
.best-item{
    margin: var(--space-3x-large) 0;
}
.best-item .common-frame>h1{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: var(--space-x-large);
}
.best-item-list{
    font-size: var(--fs-bd1);
    display: flex;
}
.best-item-list>li>a{
    position: relative;
    z-index: 2;
}
.best-item-list>li{
    padding: var(--space-normal);
    position: relative;
    box-sizing: border-box;
}
.best-item-list>li::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    box-sizing: border-box;
}
.best-item-list>li:hover::after{
    width: 440px;
    height: 600px;
    border: 1px solid var(--main-color);
}
.best-item figure{
    background-color: var(--cb-color-0);
    width: 400x;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--space-normal);
    aspect-ratio: 1/1;
    line-height: 0;
}
.best-item figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all .5s ease 0s;
}
.best-item-list>li:hover figure img{
    transform: scale(1.1);
}
.item-info{
    width: 400px;
}
.item-info>p:first-of-type{
    margin-bottom: var(--space-small);
}
.item-info-price{
    display: flex;
    justify-content: space-between;
    margin-top: var(--space-normal);
}
.item-pinfo-icon img{
    height: 1.2rem;
}

/* 페이지네이션 커스텀 */
.best-pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
}
.best-pagination .swiper-pagination-bullet{
  display: inline-flex;
  align-items: center;
  width: auto;
  height: auto;
  margin: 0 8px !important;
  background: transparent;
  opacity: 1;
  cursor: pointer;
}
.best-pagination .swiper-pagination-bullet .num{
  line-height: 1;
  color: var(--cb-color-100);
}
.best-pagination .swiper-pagination-bullet .line{
  display: inline-block;
  width: 0;
  height: 1px;
  background: var(--cb-color-800);
  margin-left: 10px;
  transition: width 0.3s;
}
.best-pagination .swiper-pagination-bullet-active .num{
  color: var(--cb-color-800);
}
.best-pagination .swiper-pagination-bullet-active .line{
  width: 100px;
}
/* 마지막 숫자 뒤에는 선 안 보이게 */
.best-pagination .swiper-pagination-bullet:last-child .line{
  display: none;
}

.bottom-banner{
    height: 600px;
}
.bottom-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}








/* 브랜드 소개 영역B 테스트 중 */
/* 전체 영역 */
.visual-hero{
    background: url(../img/0-imgPublishing/test2.png) no-repeat 50% 50% / cover;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* =========================
   왼쪽 / 가운데 / 오른쪽 영역
========================= */

/* 왼쪽 */
.hero-left{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

/* 가운데 */
.hero-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 오른쪽 */
.hero-right{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

/* =========================
   콜라주 영역
========================= */

.collage{
    /* width: 500px; */
    /* height: 600px; */
}

/* 공통 박스 */
.collage .box{
    position: absolute;

}

/* 각각 위치 (겹치는 구조) */
.box1{
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply a 10px blur to the background */
  -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
    background: url(../img/0-imgPublishing/test3-Photoroom.png) no-repeat 50% 75% / cover;
    width: 366px;
    height: 248px;
    top: 0;
    left: 0;
}

.box2{
     background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply a 10px blur to the background */
  -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
    background: url(../img/0-imgPublishing/test3-Photoroom.png) no-repeat 50% 60% / cover;
    width: 246px;
    height: 310px;
    top: 0;
    right: 0;
}

.box3 {
     background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply a 10px blur to the background */
  -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
    background: url(../img/0-imgPublishing/test3-Photoroom.png) no-repeat 50% 75% / cover;
    width: 460px;
    height: 280px;
    bottom: 0;
    left: 50%;
    transform: translateX(-70%);
}

.box4 {
     background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply a 10px blur to the background */
  -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
    background: url(../img/0-imgPublishing/test3-Photoroom.png) no-repeat 50% 60% / cover;
    width: 254px;
    height: 320px;
    top: 50%;
    left: 50%;
    transform: translate(30%, -100%);
}

/* =========================
   하단 영역
========================= */

.hero-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
}
