.hero-banner{
    width:100%;
    height: 100vh;
}
.hero-banner .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main .hero-banner.swiper .swiper-pagination{
    display: flex;
    gap:.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: var(--space-large);
    z-index: 10;
    justify-content: center;
}
.hero-banner .swiper-pagination .swiper-pagination-bullet{
    background: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.08);
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
}
.hero-banner .swiper-pagination-bullet{
    opacity: 1;
}
.hero-banner .swiper-pagination>span.swiper-pagination-bullet-active{
    background: var(--main-color);
}
.sub-category{
    margin-top: var(--space-large);
    margin-bottom: var(--space-3x-large);
}
.sub-cate-list{
    font-weight: var(--fw-med);
    color: #9C9C9C;
    display: flex;
    justify-content: center;
    gap: var(--space-large);
}
.sub-cate-list li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-small);
}
.sub-cate-list li:hover a{
    color: var(--main-color);
}
.sub-cate-list figure{
    border: 1px solid var(--cb-color-0);
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.sub-cate-list li:hover figure{
    background-color: var(--cb-color-0);
}
.sub-cate-list figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all .5s ease 0s;
}
.sub-cate-list li:hover figure img{
    transform: scale(1.1);
}
.sub-cate-list figure svg{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all .5s ease 0s;
}
.sub-cate-list li:hover figure svg{
    transform: scale(1.1);
}
.sub-cate-list li:hover figure svg path{
    fill: var(--main-color);
}
.new-item{
    margin-bottom: var(--space-3x-large);
}
.new-item>h1{
    text-align: center;
    margin-bottom: var(--space-x-large);
    text-transform: uppercase;
}
.new-item .common-frame{
    display: flex;
    /* justify-content: space-between; */
    gap: var(--space-large);
    align-items: center;
    text-align: left;
}
.new-video{
    flex: 2;
}
.new-desc{
    flex: 1;
}
.new-desc>h3{
    margin-bottom: var(--space-normal);
}
.desc-pra{
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
}
.best-item{
    margin: var(--space-3x-large) 0;
}
.best-item .common-frame>h1{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: var(--space-x-large);
}
.best-item-list{
    font-size: var(--fs-bd1);
    display: flex;
}
.best-item-list>li>a{
    position: relative;
    z-index: 2;
}
.best-item-list>li{
    padding: var(--space-normal);
    position: relative;
    box-sizing: border-box;
}
.best-item-list>li::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    box-sizing: border-box;
}
.best-item-list>li:hover::after{
    width: 440px;
    height: 600px;
    border: 1px solid var(--main-color);
}
.best-item figure{
    background-color: var(--cb-color-0);
    width: 400x;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--space-normal);
    aspect-ratio: 1/1;
    line-height: 0;
}
.best-item figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all .5s ease 0s;
}
.best-item-list>li:hover figure img{
    transform: scale(1.1);
}
.item-info{
    width: 400px;
}
.item-info>p:first-of-type{
    margin-bottom: var(--space-small);
}
.item-info-price{
    display: flex;
    justify-content: space-between;
    margin-top: var(--space-normal);
}
.item-pinfo-icon img{
    height: 1.2rem;
}

/* 페이지네이션 커스텀 */
.best-pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
}
.best-pagination .swiper-pagination-bullet{
  display: inline-flex;
  align-items: center;
  width: auto;
  height: auto;
  margin: 0 8px !important;
  background: transparent;
  opacity: 1;
  cursor: pointer;
}
.best-pagination .swiper-pagination-bullet .num{
  line-height: 1;
  color: var(--cb-color-100);
}
.best-pagination .swiper-pagination-bullet .line{
  display: inline-block;
  width: 0;
  height: 1px;
  background: var(--cb-color-800);
  margin-left: 10px;
  transition: width 0.3s;
}
.best-pagination .swiper-pagination-bullet-active .num{
  color: var(--cb-color-800);
}
.best-pagination .swiper-pagination-bullet-active .line{
  width: 100px;
}
/* 마지막 숫자 뒤에는 선 안 보이게 */
.best-pagination .swiper-pagination-bullet:last-child .line{
  display: none;
}





.bottom-banner{
    height: 600px;
}
.bottom-banner img{
    width: 100%;
    height: 100%;
}

.wrap{
    position: relative;
}
.aside-menu{
    position: fixed;
    text-align: center;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 99999;
}
.team-clover{
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
}
.team-clover img{
    height: 44px;
    border-radius: 50%;
}





/* 테스트 중 */
.brand-pilo{
    margin: var(--space-3x-large);
}
.brand-pilo .commom-frame{
    text-align: center;
}
.brand-pilo .commom-frame>h4{
    margin-bottom: var(--space-small);
}
.brand-pilo .commom-frame>h1{
    margin-bottom: var(--space-large);
}
.brand-pilo .commom-frame>h1>span{
    color: var(--main-color);
}
.brand-pilo .commom-frame>h1+p{
    margin-bottom: var(--space-small);
}



/* 테스트 중 */
.parallax{
    height: 600px;
    background: url("../img/model-bg/test4.png") no-repeat 50% 50% / cover;
    /* background-color: var(--cb-color-0); */
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    margin-bottom: var(--space-x-large);
}
.title{
    text-align: center;
    margin-top: var(--space-3x-large);
    position: relative;
}
.title>h1{
    margin-bottom: var(--space-small);;
}
.card{
    margin: -300px var(--space-x-large) 0;
    background: #fff;
    text-align: center;
    background-color: transparent;
}
.card>li{
    border: 1px solid var(--cb-color-400);
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--space-normal);
    background-color: #fff;
}
.card>li:first-of-type{
    margin-bottom: var(--space-normal);
}
.card figure{
    border: 1px solid var(--cb-color-600);
    height: 80%;
    width: 60%;
}
.desc{
    margin-bottom: var(--space-3x-large);
}

