main{
    padding-top: 280px;
    margin-bottom: var(--space-foot);
}
.ivt-wrap{
    display: flex;
}
.inventory-box{
    flex: 3;
}
.myInventory h1{
    padding-bottom: var(--space-large);
}
.myInventory ul{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.myInventory ul li:hover{
    font-weight: var(--fw-bold);
    color: var(--main-color);
}
.uProfile-box{
    flex: 9;
}
.uProfile-content1{
    height: 200px;
    display: flex;
    align-items: center;
    gap: var(--space-large);
    background-color: var(--cb-color-0);
    margin-bottom: var(--space-normal);
}
.uProfile-content1 img{
    width: 200px;
    height: 100%;
    object-fit: cover;
}
.uProfile-hello span{
    background-color: #CE9C4D;
    color: #fff;
    padding: var(--space-x-small);
    text-align: center;
    border-radius: .25rem;
}
.uProfile-hello h3{
    margin-top: var(--space-x-small);
    margin-bottom: var(--space-small);
}
.uProfile-content2{
    margin-bottom: var(--space-x-large);
}
.uProfile-content2 h1{
    color: var(--main-color);
}
.uProfile-content2 .icon-group{
    display: flex;
    gap: var(--space-normal);
}
.uProfile-content2 .icon-group li{
    flex: 1;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-small);
    padding: .75rem .45rem 1.35rem .45rem;
    box-sizing: border-box;
}
.uProfile-content2 .icon-group li>span{
    font-weight: var(--fw-bold);
}
.uProfile-content2 .icon-group li>div{
    display: flex;
    align-items: center;
    color: var(--main-color);
}
.uProfile-content2 .icon-group li>div>a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-small);
    font-weight: var(--fw-med);
}
.uProfile-content3 h1{
    margin-bottom: var(--space-large);
}
.form-row{
    display: flex;
}

/* 취소/반품/교환 내역 */
.uProfile-content3 h1 {
    margin-bottom: var(--space-large);
    margin-top: var(--space-3x-large);
}
/* 조회 박스 */
.ivt-filter{
    background-color: var(--cb-color-0);
    padding: var(--space-normal);
    margin-bottom: var(--space-x-large);
    text-align: center;
}
.filter-period{
    display: flex;
    gap: 2.6rem;
    margin-bottom: var(--space-normal);
}
.filter-period > span {
    color: #111;
    font-weight: var(--fw-bold);
    white-space: nowrap;
}
.period-group{
    display: flex;
    flex-direction: column;
    gap: var(--space-normal);
}
.period-btns{
    display: flex;
    gap: var(--space-small);
}
.period-btns button{
    padding: var(--space-small) var(--space-normal);
    border: 1px solid #808080;
    background-color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.2s;
}
.period-btns button.active{
    background-color: #808080;
    color: #fff;
}
.filter-date{
    display: flex;
    align-items: center;
    gap: var(--space-normal);
}
.date-select-group{
    display: flex;
    align-items: center;
    gap: 0.45rem;
}
.date-select-group select{
    padding: .25rem var(--space-small);
    border: 1px solid #bfc5cf;
    background-color: #fff;
    font-size: 1rem;
    color: #000;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../img/0-imgPublishing/icon/ivt-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right 0.8rem center;
    background-size: 12px;
}
.date-select-group select:focus{
    outline: none;
    border-color: var(--main-color);
}
#start-year, #end-year{
    width: 123px;
}
#start-month, #end-month,
#start-day, #end-day{
    width: 80px;
}
.date-dash{
    font-weight: 2px;
}
.btn-search{
    padding: var(--space-small) var(--space-normal);
    background-color: var(--main-color);
    color: #fff;
    font-weight: var(--fw-bold);
    box-sizing: border-box;
    cursor: pointer;
    margin-top: var(--space-large);
}
.ivt-list{
    width: 100%;
}
.list-head,
.list-body li{
    display: grid;
    grid-template-columns: 94fr 310fr 74fr 160fr 100fr;
    align-items: center;
    justify-items: center;
}
.list-head{
    border-bottom: 3px solid var(--main-color);
    padding: .75rem var(--space-normal);
    background-color: var(--cb-color-0);
}
.list-body li{
    padding: var(--space-normal) 0;
    border-bottom: 1px solid #000;
}
.column1,
.column3,
.column4,
.column5{
    display: flex;
    flex-direction: column;
    gap: var(--space-x-small);
    align-items: center;
}
.column1 div{
    gap: var(--space-x-small);
}
.column1 a{
    display: flex;
    gap: var(--space-small);
}
.column2{
    display: flex;
    justify-content: center;
}
.column2 div{
    width: 171px;
    display: flex;
    flex-direction: column;
    gap: var(--space-x-small);
    justify-content: center;
}
.column4{
    text-align: center;
}
.column4>span:first-of-type{
    font-size: var(--fs-h4);
    font-weight: var(--fw-bold);
}
.column4>span:nth-of-type(4){
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.column5 button{
    padding: var(--space-small);
    border: 1px solid #000;
}
.uProfile-content3-mo{
    display: none;
}





/* 반응형 대응 코드 */
@media (max-width: 1440px){
    main {
        padding-top: var(--space-3x-large);
    }
    #start-year, #end-year {
        min-width: 90px;
    }
    #start-month, #end-month, #start-day, #end-day {
        min-width: 70px;
    }
    
}

@media (max-width: 1000px){
    .list-head, .list-body li {
        grid-template-columns: 105fr 263fr 84fr 104fr 143fr;
    }
    .filter-date {
        flex-direction: column;
        gap: var(--space-x-small);
    }
}


@media (max-width: 768px){
    .inventory-box {
        display: none;
    }
    .uProfile-box {
        width: 100%;
    }
    .uProfile-content1 {
        flex-direction: column;
        height: auto;
        text-align: center;
    }
    .uProfile-content3{
        display: none;
    }
    .uProfile-content3-mo{
        display: block;
    }
    .uProfile-content3-mo>h1{
        margin-top: var(--space-x-large);
        margin-bottom: var(--space-large);
    }
    .ivt-list-mo>li{
        display: flex;
        flex-direction: column;
        padding: var(--space-small) 0;
        border-bottom: 1px solid #808080;
    }
    .ivt-list-mo>li:last-child{
        border-bottom: none;
    }
    .ivt-list-mo>li>span{
        display: inline-block;
        width: 100%;
        border-bottom: 2px solid var(--main-color);
        background-color: var(--cb-color-0);
    }
    .li-pro {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        align-items: center;
    }
    .para1{
        display: flex;
        gap:var(--space-small);
        margin-bottom: var(--space-large);
    }
    .para1 span:nth-of-type(1){
        font-weight: var(--fw-bold);
        font-size: var(--fs-h4);
        color: var(--main-color);
    }
    .para2{
        display: flex;
        flex-direction: column;
        gap: var(--space-small);
    }
    .li-bnt span{
        display: inline-block;
        border: 1px solid #000;
        padding: var(--space-small);
        cursor: pointer;
        text-align: center;
    }
    .li-bnt>div{
        display: flex;
        gap: var(--space-small);
    }
    .li-bnt1{
        margin-bottom: var(--space-small);
    }
    .li-bnt2 span{
        flex: 1;
    }
}



@media (max-width: 500px){
   .uProfile-content2 .icon-group {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: var(--space-normal);
    }
    .uProfile-content2 .icon-group li:last-child{
        grid-column: span 2;
    }
    .li-pro {
        gap: var(--space-small);
    }
    .li-pro img{
        max-width: 100px;
        max-height: 100px;
    }
    .para1 {
        flex-direction: column;
    }
    .para2 {
        margin-bottom: var(--space-large);
    }
    
}