main{
    padding-top: 280px;
    margin-bottom: var(--space-foot);
}
.ivt-wrap{
    display: flex;
    margin-bottom: var(--space-3x-large);
}
.inventory-box{
    flex: 3;
}
.myInventory h1{
    padding-bottom: var(--space-large);
}
.myInventory ul{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.myInventory ul li:hover{
    font-weight: var(--fw-bold);
    color: var(--main-color);
}
.uProfile-box{
    flex: 9;
}
.uProfile-content1{
    height: 200px;
    display: flex;
    align-items: center;
    gap: var(--space-large);
    background-color: var(--cb-color-0);
    margin-bottom: var(--space-normal);
}
.uProfile-content1 img{
    width: 200px;
    height: 100%;
    object-fit: cover;
}
.uProfile-hello span{
    background-color: #CE9C4D;
    color: #fff;
    padding: var(--space-x-small);
    text-align: center;
    border-radius: .25rem;
}
.uProfile-hello h3{
    margin-top: var(--space-x-small);
    margin-bottom: var(--space-small);
}
.uProfile-content2{
    margin-bottom: var(--space-x-large);
}
.uProfile-content2 h1{
    color: var(--main-color);
}
.uProfile-content2 .icon-group{
    display: flex;
    gap: var(--space-normal);
}
.uProfile-content2 .icon-group li{
    flex: 1;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-small);
    padding: .75rem .45rem 1.35rem .45rem;
    box-sizing: border-box;
}
.uProfile-content2 .icon-group li>span{
    font-weight: var(--fw-bold);
}
.uProfile-content2 .icon-group li>div{
    display: flex;
    align-items: center;
    color: var(--main-color);
}
.uProfile-content2 .icon-group li>div>a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-small);
    font-weight: var(--fw-med);
}
.uProfile-content3 h1{
    margin-bottom: var(--space-large);
}
.member-edit{
    margin-bottom: var(--space-3x-large);
}
.me-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--space-small);
}
.me-title>div{
    color: #808080;
    border: 1px solid #808080;
    padding: var(--space-x-small) var(--space-small);
    display: flex;
    gap: var(--space-x-small);
    align-items: center;
}
.info-form{
    border-top: 5px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
}
.info-form .form-row {
    display: grid;
    grid-template-columns: 2fr 6fr;
    gap: 1.5rem;
    border-bottom: 1px solid var(--main-color);
}
.info-form .form-row:last-child{
    border-bottom: none;
}
.info-form label{
    width: auto;
    background: var(--cb-color-0);
    padding: 1.5rem;
    display: flex;
    align-items: center;
    font-weight: var(--fw-bold);
    border-right: 1px solid #ddd;
}
.info-form .field{
    flex: 1;
    padding: var(--space-small) 0;
    display: flex;
    align-items: center;
    gap: var(--space-small);
    font-size: var(--fs-bd2);
}
.field input{
    height: 42px;
    box-sizing: border-box;
    border: 1px solid #808080;
    padding: var(--space-small) var(--space-normal);
    font-size: var(--fs-bd2);
}
.field.inline{
    flex-direction: column;
    gap: var(--space-large);
    align-items: flex-start;
}
.field.inline>div{
    display: flex;
    gap: var(--space-large);
    align-items: center;
}
.field.inline>div+span{
    color: #808080;
}
.info-form button{
    height: 42px;
    border: 1px solid #808080;
    box-sizing: border-box;
    padding: var(--space-small) var(--space-normal);
    cursor: pointer;
    color: #808080;
}
.in-group{
    display: flex;
    gap: var(--space-x-small);
}
.in-group>span{
    padding: .1rem var(--space-x-small);
    background-color: #EF5C18;
    color: #fff;
    font-weight: var(--fw-reg);
    border-radius: .25rem;
}
.email-group{
    display: flex;
    align-items: center;
    gap: var(--space-small);
}
.email-group input{
    /* width: 170px; */
}
select{
    font-size: var(--fs-bd2);
    width: 170px;
    height: 42px;
    padding: var(--space-small) var(--space-normal);
    border: 1px solid #808080;
    color: #000;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    cursor: pointer;

    /* 커스텀 화살표 */
   background-image: url("../img/0-imgPublishing/icon/ivt-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 16px;
}
select:focus{
    outline: none;
    border-color: #808080;
}
.field.g-address{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 0;
}
.address-top{
    display: flex;
    gap: var(--space-small);
}
.address-top input{
    width: 401px;
}
.address-top button{
    width: 231px;
    border: 1px solid var(--main-color);
    background: #fff;
    color: var(--main-color);
    font-weight: var(--fw-bold);
    text-align: center;
}
.address-det{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
}
.marketing-setting{
    margin-top: var(--space-3x-large);
}
.marketing-box{
    border-top: 5px solid var(--main-color);
    padding-top: var(--space-large);
    align-items: center;
}
.check-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-small);
    margin-bottom: var(--space-normal);
}
.check-group .g1{
    display: flex;
    gap: var(--space-small);
}
.check-group .g1 span:last-of-type{
    color: #808080;
}
.check-group .g2{
    display: flex;
    gap: var(--space-normal);
}
.check-group .g2 label{
    font-weight: var(--fw-med);
}
.check-group input{
    display: none;
}
.check-group label{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    display: inline-block;
    margin-right: 20px;
}
.check-group label::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    border-radius: 3px;
    background: #fff;
}
.check-group input:checked + label::before{
    background: #000;
    border-color: #000;
}
.check-group input:checked + label::after{
    content: "";
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-60%) rotate(45deg);
    width: 4px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
}
.desc{
    margin-bottom: var(--space-normal);
}
.agree-all{
    font-weight: var(--fw-bold);
    cursor: pointer;
}
.ivt-foot{
    margin-top: 7rem;
}
.btn-group{
    display: flex;
    gap: var(--space-small);
    justify-content: center;
}
.btn-group button{
    margin-top: var(--space-normal);
    padding: var(--space-small) var(--space-2x-large);
    box-sizing: border-box;
    border: 1px solid var(--main-color);
    border-radius: var(--space-x-small);
}
.btn-edit{
    background-color: var(--main-color);
    color: #fff;
}





/* ---------------- */
/* 반응형 대응 코드 */
@media (max-width: 1440px){
    main {
        padding-top: var(--space-3x-large);
    }
}


@media (max-width: 1200px){
    .field.email-group>div {
        width: 100%;
        flex: 1;
    }
    .email-group>div>input {
        width: 100%;
        /* max-width: 130px; */
    }
    .email-group select {
        max-width: 130px;
    }
    .info-form button {
        padding: var(--space-small) var(--space-small);
    }
    .address-top input {
        width: 100%;
    }
    .address-top button {
        width: 100%;
    }
}


@media (max-width: 768px){
    .ivt-wrap {
        flex-direction: column;
    }
    .inventory-box {
        margin-bottom: var(--space-large);
        width: 100%;
    }
    .myInventory ul {
        flex-direction: initial;
        gap: 0;
    }
    .myInventory h1 {
        text-align: center;
    }
    .myInventory ul li{
        border: 1px solid #000;
        border-radius: 1rem;
        padding: 5px 10px;
    }
    .swiper.myInventory-swiper{
        top: 0;
    }
    .myInventory-swiper .swiper-slide {
        width: auto;
    }
    .myInventory ul li.selected {
        color: var(--main-color);
        font-weight: var(--fw-bold);
        background-color: var(--cb-color-0);
        border-color: var(--main-color);
    }
    .uProfile-box {
        width: 100%;
    }
    .uProfile-content1 {
        flex-direction: column;
        height: auto;
        text-align: center;
    }
    .info-form .form-row {
        grid-template-columns: repeat(1,auto);
        gap: 0;
    }
    .info-form label {
        background: #fff;
        padding: 1rem;
        border-right: none;
    }
    .field.inline {
        padding: 1rem;
    }
    .info-form .field {
        padding: 1rem;
    }
    .field.email-group{
        display: flex;
        /* flex-direction: column; */
        align-items: flex-start;
    }
}


@media (max-width: 500px){
    .uProfile-content2 .icon-group {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: var(--space-normal);
    }
    .uProfile-content2 .icon-group li:last-child{
        grid-column: span 2;
    }
   
}


@media (max-width: 380px){
    .email-group input[placeholder="직접입력"]{
        display: none;
    }
    .field.email-group>div>span{
        display: none;
    }
    .field.email-group>div>select{
        display: none;
    }
    .btn-group button {
        padding: var(--space-small) var(--space-x-large);
    }

}


@media (max-width: 300px){
    
}