main{
    padding-top: 280px;
    margin-bottom: var(--space-foot);
}
.ivt-wrap{
    display: flex;
}
.inventory-box{
    flex: 3;
}
.myInventory h1{
    padding-bottom: var(--space-large);
}
.myInventory ul{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.myInventory ul li:hover{
    font-weight: var(--fw-bold);
    color: var(--main-color);
}
.uProfile-box{
    flex: 9;
}
.uProfile-content1{
    height: 200px;
    display: flex;
    align-items: center;
    gap: var(--space-large);
    background-color: var(--cb-color-0);
    margin-bottom: var(--space-2x-large);
}
.uProfile-content1 img{
    width: 200px;
    height: 100%;
    object-fit: cover;
}
.uProfile-hello span{
    background-color: #CE9C4D;
    color: #fff;
    padding: var(--space-x-small);
    text-align: center;
    border-radius: .25rem;
}
.uProfile-hello h3{
    margin-top: var(--space-x-small);
    margin-bottom: var(--space-small);
}
.uProfile-content2{
    margin-bottom: var(--space-x-large);
}
.uProfile-content2 h1{
    color: var(--main-color);
}
.uProfile-content2 .icon-group{
    display: flex;
    gap: var(--space-normal);
}
.uProfile-content2 .icon-group li{
    flex: 1;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-small);
    padding: .75rem .45rem 1.35rem .45rem;
    box-sizing: border-box;
}
.uProfile-content2 .icon-group li>span{
    font-weight: var(--fw-bold);
}
.uProfile-content2 .icon-group li>div{
    display: flex;
    align-items: center;
    color: var(--main-color);
}
.uProfile-content2 .icon-group li>div>a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-small);
    font-weight: var(--fw-med);
}
.uProfile-content3 h1{
    margin-bottom: var(--space-large);
}
.form-row{
    display: flex;
}

/* 취소/반품/교환 내역 */
.uProfile-content3 h1 {
    margin-bottom: var(--space-large);
}
/* 조회 박스 */
.ivt-filter{
    background-color: var(--cb-color-0);
    padding: var(--space-normal);
    margin-bottom: var(--space-small);
    text-align: center;
}
.filter-period{
    display: flex;
    gap: 2.6rem;
    margin-bottom: var(--space-normal);
}
.filter-period > span {
    color: #111;
    font-weight: var(--fw-bold);
}
.period-group{
    display: flex;
    flex-direction: column;
    gap: var(--space-normal);
}
.period-btns{
    display: flex;
    gap: var(--space-small);
}
.period-btns button{
    padding: var(--space-small) var(--space-normal);
    border: 1px solid #808080;
    background-color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.2s;
}
.period-btns button.active{
    background-color: #808080;
    color: #fff;
}
.filter-date{
    display: flex;
    align-items: center;
    gap: var(--space-normal);
}
.date-select-group{
    display: flex;
    align-items: center;
    gap: 0.45rem;
}
.date-select-group select{
    padding: .25rem var(--space-small);
    border: 1px solid #bfc5cf;
    background-color: #fff;
    font-size: 1rem;
    color: #000;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../img/0-imgPublishing/icon/ivt-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right 0.8rem center;
    background-size: 12px;
}
.date-select-group select:focus{
    outline: none;
    border-color: var(--main-color);
}
#start-year, #end-year{
    width: 123px;
}
#start-month, #end-month,
#start-day, #end-day{
    width: 80px;
}
.date-dash{
    font-weight: 2px;
}
.btn-search{
    padding: var(--space-small) var(--space-normal);
    background-color: var(--main-color);
    color: #fff;
    font-weight: var(--fw-bold);
    box-sizing: border-box;
    cursor: pointer;
    margin-top: var(--space-large);
}
.filter-notice{
    color: #808080;
    margin-bottom: var(--space-x-large);
}
/* 리스트 영역 */
.ivt-list{
    width: 100%;
}
.list-head,
.list-body li{
    display: grid;
    grid-template-columns: 135fr 409fr 74fr 94fr 63fr;
    align-items: center;
    justify-items: center;
}
.list-head{
    border-bottom: 3px solid var(--main-color);
    padding: .75rem var(--space-normal);
    background-color: var(--cb-color-0);
}
.list-body li{
    padding: .75rem var(--space-normal);
}
.status{
    font-weight: var(--fw-bold);
}
.status.cancel{
    color: var(--main-color);
}


