main{
    padding-top: 280px;
    margin-bottom: var(--space-foot);
}
.uProfile-wrap{
    display: flex;
    gap: var(--space-normal);
    margin-bottom: var(--space-3x-large);
}
.uProfile-content1 {
    flex: 5;
    height: 230px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: var(--space-large);
    background-color: var(--cb-color-0);
    margin-bottom: var(--space-2x-large);
}
.uProfile-content1 img{
    width: 200px;
    height: 100%;
    object-fit: cover;
}
.uProfile-hello span{
    background-color: #CE9C4D;
    color: #fff;
    padding: var(--space-x-small);
    text-align: center;
    border-radius: .25rem;
}
.uProfile-hello h3{
    margin-top: var(--space-x-small);
    margin-bottom: var(--space-small);
}
.uProfile-content2{
    flex: 7;
    margin-bottom: var(--space-x-large);
}
.uProfile-content2 h1{
    color: var(--main-color);
}
.uProfile-content2 .icon-group{
    display: flex;
    gap: var(--space-normal);
}
.uProfile-content2 .icon-group li{
    flex: 1;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-small);
    padding: .75rem .45rem 1.35rem .45rem;
    box-sizing: border-box;
}
.uProfile-content2 .icon-group li>span{
    font-weight: var(--fw-bold);
}
.uProfile-content2 .icon-group li>div{
    display: flex;
    align-items: center;
    color: var(--main-color);
}
.uProfile-content2 .icon-group li>div>a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-small);
    font-weight: var(--fw-med);
}
.mycart-box{
    display: flex;
    gap: 7rem;
    align-items: flex-end;
    margin-bottom: var(--space-3x-large);
}
.cartList{
    flex: 7;
}
.cartList>h1{
    margin-bottom: var(--space-large);
}
.cartList>ul li:first-child{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.cartList>ul li{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border-bottom: 1px solid #000;
}
.cartList>ul figure{
    width: 223px;
    height: 202px;
}
.cartList>ul figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.desc{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-normal);
}
.inv-g{
    display: flex;
    justify-content: space-between;
}
.span-g{
    display: flex;
    gap: 0;
    text-align: center;
}
.span-g span {
    height: 24px;
    width: 24px;
    cursor: pointer;
}
.span-g .number{
    width: 71px;
}
.invoice{
    flex: 4;
}
.sellInfo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: var(--space-normal) 0;
    margin-top: var(--space-normal);
    margin-bottom: var(--space-normal);
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: var(--space-normal) 0;
}
.sellInfo dd{
    text-align: right;
}
.sellInfo .sale{
    color: red;
}
.sellPrice{
    display: flex;
    justify-content: space-between;
}
.sellPrice dd{
    font-size: var(--fs-h1);
}
.invoice button{
    color: #fff;
    background-color: var(--main-color);
    height: 51px;
    width: 100%;
    text-align: center;
    margin-top: var(--space-normal);
}
.recomend-item h1{
    margin-bottom: var(--space-large);
    text-align: center;
}
.reco-list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: var(--space-normal);
}
.reco-list>li{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
}

.reco-list figure{
    background-color: var(--cb-color-0);
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: var(--space-normal);
}
.reco-list figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.reco-list .color-option {
    display: flex;
    gap: var(--space-x-small);
    margin-bottom: var(--space-normal);
    cursor: pointer;
}
.reco-list .color-option span{
    width: 36px;
    height: 36px;
}
.reco-list .color-option span:nth-last-of-type(1){
    background-color: #ff45aa;
}
.reco-list .color-option span:nth-last-of-type(2){
    background-color: #ee7462;
}
.reco-list .color-option span:nth-last-of-type(3){
    background-color: #cd18eb;
}
.reco-list .color-option span:nth-last-of-type(4){
    background-color: #ec2328;
}
.reco-list .color-option span:nth-last-of-type(5){
    background-color: #b6685f;
}
.sale-badge{
    position: absolute;
    left: 1rem;
    top: 1rem;
    background-color: var(--main-color);
    border-radius: 50%;
    width: 4.2rem;
    height: 4.2rem;
    color: #fff;
    font-size: var(--fs-h2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.amount-option{
    display: flex;
    justify-content: center;
    gap: var(--space-x-small);
    margin-bottom: var(--space-normal);
    cursor: pointer;
}
.amount-option>span{
    border: 1px solid #BABABA;
    padding: var(--space-x-small) var(--space-normal);
    box-sizing: border-box;
    color: #BABABA;
}
.amount-option>span.selected{
    border: 1px solid #000;
    padding: var(--space-x-small) var(--space-normal);
    box-sizing: border-box;
    color: #000;
}
.pro-desc>p:first-of-type{
    margin-bottom: var(--space-small);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pro-desc>p:last-of-type{
    margin-bottom: var(--space-normal);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pro-price{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: var(--space-small);
}
.pro-price .sale{
    font-size: var(--fs-h4);
}
.pro-price .original{
    color: #BABABA;
    text-decoration: line-through;
}




/* ---------------- */
/* 반응형 대응 코드 */
@media (max-width: 1440px){
    main {
        padding-top: var(--space-3x-large);
    }
    .uProfile-wrap {
        flex-direction: column;
    }
    .mycart-box {
        gap: 2rem;
    }
    .cartList {
        flex: 6;
    }
    .invoice {
        flex: 5;
    }
}


@media (max-width: 768px){
    .uProfile-content1 {
        flex-direction: column;
        height: auto;
        text-align: center;
    }
    .mycart-box {
        flex-direction: column;
        gap: var(--space-2x-large);
        align-items: stretch;
    }
    .reco-list {
        grid-template-columns: repeat(2,1fr);
    }
    .reco-list>li{
        min-width: 0;
    }
    .amount-option>span.selected {
        padding: var(--space-x-small) var(--space-small);
    }
    .amount-option>span {
        padding: var(--space-x-small) var(--space-small);
    }
    
}



@media (max-width: 500px){
   .uProfile-content2 .icon-group {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: var(--space-normal);
    }
    .uProfile-content2 .icon-group li:last-child{
        grid-column: span 2;
    }
    .sale-badge {
        width: 2.5rem;
        height: 2.5rem;
        font-size: var(--fs-bd2);
    }
    
}


@media (max-width: 300px){
    .pro-price {
        flex-direction: column;
    }
    
}