main{
    padding-top: 280px;
    margin-bottom: var(--space-foot);
}
.ivt-wrap{
    display: flex;
}
.inventory-box{
    flex: 3;
}
.myInventory h1{
    padding-bottom: var(--space-large);
}
.myInventory ul{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.myInventory ul li:hover{
    font-weight: var(--fw-bold);
    color: var(--main-color);
}
.uProfile-box{
    flex: 9;
}
.uProfile-content1{
    height: 200px;
    display: flex;
    align-items: center;
    gap: var(--space-large);
    background-color: var(--cb-color-0);
    margin-bottom: var(--space-normal);
}
.uProfile-content1 img{
    width: 200px;
    height: 100%;
    object-fit: cover;
}
.uProfile-hello span{
    background-color: #CE9C4D;
    color: #fff;
    padding: var(--space-x-small);
    text-align: center;
    border-radius: .25rem;
}
.uProfile-hello h3{
    margin-top: var(--space-x-small);
    margin-bottom: var(--space-small);
}
.uProfile-content2{
    margin-bottom: var(--space-3x-large);
}
.uProfile-content2 h1{
    color: var(--main-color);
}
.uProfile-content2 .icon-group{
    display: flex;
    gap: var(--space-normal);
}
.uProfile-content2 .icon-group li{
    flex: 1;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-small);
    padding: .75rem .45rem 1.35rem .45rem;
    box-sizing: border-box;
}
.uProfile-content2 .icon-group li>span{
    font-weight: var(--fw-bold);
}
.uProfile-content2 .icon-group li>div{
    display: flex;
    align-items: center;
    color: var(--main-color);
}
.uProfile-content2 .icon-group li>div>a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-small);
    font-weight: var(--fw-med);
}
.uProfile-content3 h1{
    margin-bottom: var(--space-large);
}
.uProfile-content3 {
    margin-top: 5rem;
}
.recently-box-swiper,.heart-box-swiper {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.recently-box{
    margin-bottom: var(--space-3x-large);
}
.box-head{
    display: flex;
    justify-content: space-between;
}
.btn-all{
    display: flex;
    align-items: center;
    gap: var(--space-small);
    cursor: pointer;
}
.box-head span{
    color: #808080;
}
.box-list {
    /* margin-bottom: var(--space-3x-large); */
    padding: var(--space-normal) 0;
    /* border-top: 1px solid #000;
    border-bottom: 1px solid #000; */
}
.box-list>li{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.box-list figure {
    background-color: var(--cb-color-0);
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: var(--space-normal);
}
.box-list figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.sale-badge {
    position: absolute;
    left: 1rem;
    top: 1rem;
    background-color: var(--main-color);
    border-radius: 50%;
    width: 4.2rem;
    height: 4.2rem;
    color: #fff;
    font-size: var(--fs-h2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.pro-option {
    display: flex;
    justify-content: center;
    gap: var(--space-small);
    margin-bottom: var(--space-normal);
    cursor: pointer;
}
.pro-option>span{
    border: 1px solid #BABABA;
    padding: var(--space-x-small);
    box-sizing: border-box;
    color: #BABABA;
}
.pro-option>span.selected{
    border: 1px solid #000;
    padding: var(--space-x-small);
    box-sizing: border-box;
    color: #000;
}
.pro-option>div{
    width: 24px;
    height: 24px;
}
.color1{background-color: #F1D2BD;}
.color2{background-color: #EECBB4;}
.color3{background-color: #E9BC9D;}
.color4{background-color: #D7A07C;}
.pro-desc{
    text-align: center;
}
.pro-desc>p:first-of-type {
    margin-bottom: var(--space-x-small);
}
.pro-desc>p:last-of-type {
    margin-bottom: var(--space-normal);
}
.pro-price{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: var(--space-small);
}
.pro-price .sale{
    font-size: var(--fs-h4);
}
.pro-price .original{
    color: #BABABA;
    text-decoration: line-through;
}








/* ---------------- */
/* 반응형 대응 코드 */
@media (max-width: 1440px){
    main {
        padding-top: var(--space-3x-large);
    }
    
}


@media (max-width: 768px){
    .ivt-wrap {
        flex-direction: column;
    }
    .inventory-box {
        margin-bottom: var(--space-large);
        width: 100%;
    }
    .myInventory ul {
        flex-direction: initial;
        gap: 0;
    }
    .myInventory h1 {
        text-align: center;
    }
    .myInventory ul li{
        border: 1px solid #000;
        border-radius: 1rem;
        padding: 5px 10px;
    }
    .swiper.myInventory-swiper{
        top: 0;
    }
    .myInventory-swiper .swiper-slide {
        width: auto;
    }
    .myInventory ul li.selected {
        color: var(--main-color);
        font-weight: var(--fw-bold);
        background-color: var(--cb-color-0);
        border-color: var(--main-color);
    }
    .uProfile-box {
        width: 100%;
    }
    .uProfile-content1 {
        flex-direction: column;
        height: auto;
        text-align: center;
    }
    
}




@media (max-width: 500px){
    .uProfile-content2 .icon-group {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: var(--space-normal);
    }
    .uProfile-content2 .icon-group li:last-child{
        grid-column: span 2;
    }
    .sale-badge {
        width: 2.5rem;
        height: 2.5rem;
        font-size: var(--fs-bd2);
    }

}